body {
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#header {
  display: flex;
  align-items: center;
}
#header #text { line-height: 0.8; }
#header small { font-size: 0.5em; }
#header #logo {
  height: 100px;
  margin-right: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) {
  /* Show only on big screen */
  .if-mobile { display: none }
}

/* Mobile support */
@media (max-width: 575.98px) {
  /* Show only on small screen */
  .unless-mobile { display: none }

  #header #text {
    font-size: 0.75em;
  }
  #header #logo {
    height: 50px;
    margin-right: 10px;
  }
  footer {
    font-size: 0.8em;
  }
}

/* GitHub Corner */
.github-corner > svg { fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0; }
.github-corner .octo-arm { transform-origin: 130px 106px; }
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
