[Unit]
Description=한국 러스트 사용자 그룹 홈페이지

[Service]
Type=simple
User=nobody
WorkingDirectory=/var/opt/rust-kr.org
Environment=RUST_KR=production
ExecStart=/var/opt/rust-kr.org/rust-kr
Restart=always

[Install]
WantedBy=multi-user.target
